* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --corOrange: #f98024;
    --corBlack: #000000;
    --corSub: #4ca9fb;
    --corPeso: #0664c9;
    --corSobre: #cc7715;
    --corObeso: #d00000;
}